<section class="container d-flex container-fluid">
  <div class="left-sidebar">
  </div>
  <div class="center-content">
    <div class="dark cta-container text-center">
      <h2>Ask Our Community</h2>
      <p class="larger width-80 mx-auto">If you have questions about the Judo editor, or developer questions about SDK integration, join the community and start a conversation!</p>
      <a href="https://forum.judo.app/" class="btn btn-arrow">Go to Judo Support Forum</a>
    </div>
  </div>
  <div class="right-sidebar"></div>
</section>