<footer class="site-footer light-blue">
  <div class="container d-flex container-fluid">
    <div class="left-sidebar">
      <div class="no-underline d-md-none">
        <a href="https://judo.app/"><img src="assets/img/judo-logo-one-colour.svg" width="110"></a>
      </div>
    </div>
    <div class="d-flex center-content container justify-around">
      <div>
        <h4>Judo</h4>
        <ul>
          <li><a href="https://www.judo.app/product/">Product</a></li>
          <li><a href="https://www.judo.app/pricing/">Pricing</a></li>
          <li><a href="https://www.judo.app/solutions/">Use Cases</a></li>
          <li><a href="https://www.judo.app/apps/">Apps</a></li>
          <li><a href="https://www.judo.app/about">About Us</a></li>
          <li><a href="https://www.judo.app/blog/">Blog</a></li>
        </ul>
      </div>
      <div>
        <h4>Documentation</h4>
        <ul>
          <li><a href="https://github.com/judoapp/judo-ios/wiki" target="_blank" rel="noopener">iOS SDK</a></li>
          <li><a href="https://github.com/judoapp/judo-android/wiki" target="_blank" rel="noopener">Android SDK</a></li>
        </ul>
      </div>
      <div>
        <h4>Learn &amp; Get Help</h4>
        <ul>
          <li><a href="https://forum.judo.app/" target="_blank" rel="noopener">Community</a></li>
          <li><a href="https://www.judo.app/learn/" target="_blank" rel="noopener">Learning Center</a></li>
        </ul>
      </div>
      <div>
        <h4>Contact</h4>
        <ul>
          <li><a href="https://try.judo.app/book-a-demo">Schedule a Demo</a></li>
          <li><a href="https://try.judo.app/contact-us">General Inquries</a></li>
          <li><a href="https://angel.co/company/rover/jobs" target="_blank" rel="noopener">Jobs</a></li>
        </ul>
      </div>
    </div>
    <div class="right-sidebar"></div>
  </div>
  <section class="copyright">
    <div class="container container-fluid d-flex">
      <div class="no-underline d-md-block">
        <a href="https://judo.app/"><img src="assets/img/judo-logo-one-colour.svg" width="110"></a>
      </div>
      &copy; 2021 Rover Labs Inc.
      <p><a href="https://www.judo.app/terms-of-service">Terms of Service</a>&nbsp;&nbsp;&nbsp;•&nbsp;&nbsp;&nbsp;  <a href="https://www.judo.app/privacy-policy">Privacy Statement</a></p>
    </div>
  </section>
</footer>