<nav class="left-nav left-sidebar">
  <p class="dark-text boldest nav-title">Overview</p>
  <div class="nav-container">
    {% case page.platform %}
      {% when "iOS" %}
        {% assign platform = site.ios %}
      {% when "Android" %}
        {% assign platform = site.android %}
    {% endcase %}
    {% for currSection in site.tutorialSections %}
    <p class="parent-cat">{{ currSection.name }}</p>
    <ul class="children-cats">
      {% assign filtered_page = platform | where_exp: "item", "item.pageSection == currSection.name" | sort:"step" %}
      {% for currPage in filtered_page %}
      <li><a href="{{ currPage.url | relative_url }}" {% if page.title == currPage.title %}class="is-active"{% endif %}>{{ currPage.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
  {% endfor %}
</nav>