<nav class="left-nav left-sidebar doc-nav">
  <p class="dark-text boldest nav-title">Overview</p>
  <div class="nav-container">
    {% for currSection in site.tutorialSections %}
    <p class="parent-cat">{{ currSection.name }}</p>
    <ul class="children-cats">
      {% assign filtered_page = site.ios | where_exp: "item", "item.pageSection == currSection.name" %}
      {% for currPage in filtered_page %}
      <li><a href="{{ currPage.url }}" {% if page.title == currPage.title %}class="is-active"{% endif %}>{{ currPage.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
</nav>