<nav class="left-nav left-sidebar doc-nav">
  <p class="dark-text boldest nav-title">Overview</p>
  <div class="nav-container">
    <p class="parent-cat">Installation &amp; Initialization</p>
    <ul class="children-cats">
      <li><a href="#" class="is-active">Background Fetch Sync</a></li>
      <li><a href="#">Installation and Initialization</a></li>
      <li><a href="#">Sync on Foregrounding</a></li>
      <li><a href="#">Remote Notification Sync</a></li>
      <li><a href="#">User Identification and Personalization</a></li>
    </ul>
    <p class="parent-cat">Deep &amp; Universal Links</p>
    <ul class="children-cats">
      <li><a href="#">Pellentesque porttitor</a></li>
      <li><a href="#">Donec tincidunt tincidunt turpis</a></li>
      <li><a href="#">Praesent dictum aliquet lorem, quis luctus augue</a></li>
      <li><a href="#">Aliquam non ligula ut ex auctor rutrum</a></li>
      <li><a href="#">Vestibulum et felis ut felis laoreet maximus</a></li>
    </ul>
    <p class="parent-cat">Sync on Foregrounding</p>
    <p class="parent-cat">Remote Notification Sync</p>
  </div>
</nav>