  <header class="site-header">
    <nav class="top-nav d-flex light-blue align-items-center">
      <a href="index.html"><img src="/assets/img/judo-dev-portal-logo.svg" width="302"></a>
      <a href="https://www.judo.app/signup" class="btn btn-arrow">Sign Up</a>
      <button class="navbar-toggler" type="button" id="hamburger" title="Toggle Navigation" aria-label="Toggle navigation">
        <span class="menu-toggle">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </button>
    </nav>
    <nav class="all-cats">
      <div class="overlay">
        <ul class="d-flex justify-center">
          <li><a href="#" {% if page.url == "/" %}class="active"{% endif %}>Home</a></li>
          <li><a href="#" {% if page.category == "iOS" %}class="active"{% endif %}>iOS SDK</a></li>
          <li><a href="#" {% if page.category == "Android" %}class="active"{% endif %}>Android SDK</a></li>
          <li><a href="https://www.judo.app/signup" class="btn btn-arrow">Sign Up</a></li>
        </ul>
      </div>
    </nav>
  </header>