<!doctype html>
<html class="no-js" lang="">
{% include header.html %}
<body>
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MCH7KKJ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  {% include site-header.html %}
  <main>
    <section class="single-doc container container-fluid d-flex">
      {% include left-sidebar.html %}
      <article class="doc-content">
        <section class="doc-header">
          <h1>{{ page.title }}</h1>
        </section>
        <section class="doc-main">
          <div class="center-content">
            <div class="doc-text">
              {{ content }}
              <hr/>
              {% include single-doc-nav.html %}
            </div>
          </div>
          {% include right-sidebar.html %}
        </section>
      </article>
    </section>
    {% include community-box.html %}
  </main>
  {% include footer.html %}
<script src="{{ 'assets/js/libs/jquery-3.6.0.min.js' | relative_url }}"></script>
<script src="{{ 'assets/js/scripts.js' | relative_url }}"></script>
</body>
</html>
